__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
venv_linux/
env/
ENV/
.venv/
.pyenv/

# VS Code
.vscode/

# Logs
logs/
*.log

# SQLite database
db.sqlite3

# Django migrations 
**/migrations/*.py
!**/migrations/__init__.py

# Media files 
media/

.env.local
.env.prod
.env